#root {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  font-size: 12px;
  font-family: sans-serif;
}

.panel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ##fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
